@model Teste_BRASILAPI.Models.PokemonModel

<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

@if (Model.Verificacao)
{
	<div style="height: 100vh;" class="d-flex flex-column align-items-center justify-content-center">
		<form method="get" asp-controller="Pokemon" asp-action="PokemonInfo" role="form">
			<input asp-for="Nome" style="width:340px; padding:7.2px 9px; margin-right:4px; font-size:18px" class="my-4 rounded" name="name" placeholder="Digite o Id ou Nome do Pokémon" />
			<button class="p-2 rounded text-light border-0" style="font-size:19px; font-weight:bolder" type="submit" value="Nome">Buscar</button>
		</form>

		<form asp-controller="Pokemon" asp-action="PokemonInfo">
			<div class="container card-pokemon bg-img">
				<h3>• @Model.Nome.ToUpper() •</h3>
				<img class="pkm-img" src="@Model.Sprite.Other.OfficialArtwork.FrontDefault" />
				<div class="pkm-infos">
					<span class="hw"><i class="uil uil-ruler"></i>@Model.Altura</span>
					<div class="pkm-types">
						@foreach (var tipo in Model.Tipos)
						{
							<img src="~/images/types/@(tipo.Type.Name).png" alt="@tipo.Type.Name" title="@tipo.Type.Name" />
						}
					</div>
					<span class="hw"><i class="uil uil-weight"></i>@Model.Peso</span>
				</div>
			</div>
		</form>
	</div>
}
else
{
	<form asp-controller="Pokemon" asp-action="PokeInfo">
		<div class="container card-pokemon bg-img">
			<h2>@Model.ErrorMessage</h2>
			<img src="@Model.OfficialArtworkUrl" alt="Pokémon não encontrado" style="max-width: 300px;" />
			<button asp-controller="Pokemon" asp-action="Index" class="rounded px-4 py-1 text-light mt-4 border-0" style="font-size: 24px;" type="submit"> Voltar </button>
		</div>
	</form>
}

<style>
	.bg-img {
	}

	i {
		color: #fff;
		font-size: 30px;
	}

	.pkm-img {
		filter: drop-shadow(10px 7px 10px #000);
	}

	.hw {
		color: #fff;
		font-weight: 500;
		font-size: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
	}

	.pkm-types {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.pkm-infos {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		gap: 20px;
		color: #fff;
	}

	.card-pokemon {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		border-radius: 24px;
		border: 1px solid hsla(0,0%,100%,.2);
		background-size: 50%, auto;
		background-repeat: no-repeat;
		background-image: url(/images/half-pokeball.svg), radial-gradient(80% 80% at 50% bottom);
		width: 500px;
		height: 650px;
		color: #fff;
	}
</style>